<!-- smaller than sm -->

<div class="baner-xs justify-content-center">
    <div class="block baner-img" style="
    width: 100%;">
    <div class="p-5">
        <h4 class="display-6">Precyzja w każdym złączu</h4><br>
        <p class="lead">Spawamy dla ciebie w Gorzowie Wielkopolskim!</p>
            <div class="pt-2" style="display: block;">
                <a type="button" class="btn btn-secondary" style="width: max-content;" href="#email">Wyślij emaila!</a>
            </div>
            <p class="pt-2">
                Zadzwoń: 693742891
            </p>

    </div>
    </div>
    <img src="/pictures/baner.jpg" class="img-fluid baner-img" alt="Osoba w trakcie spawania">
</div>

<!-- from sm up -->


<div class="baner">
    <img src="/pictures/baner.jpg" class="img-fluid" alt="Osoba w trakcie spawania" style="position: absolute;">
    <div class="row nomargin">
        <div class="col-1 d-md-block d-none"></div>
        <div class="col-md-4 col-10">
            <div class="block block-1 mt-md-5 mt-3 p-5 d-sm-block">
                <h4 class="display-6">Precyzja w każdym złączu</h4><br>
                <p class="lead">Spawamy dla ciebie w Gorzowie Wielkopolskim!</p>
                <div class="row nomargin text-center mt-5">
                    <div class="col-2 pt-2">
                        <a type="button" class="btn btn-secondary" style="width: max-content;" href="#email">Wyślij emaila!</a>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col-4">
                        Zadzwoń: 693742891
                    </div>
                </div>
            </div>

        </div>
        <div class="col d-sm-block d-none"></div>
        <div class="col-1 d-block d-sm-none"></div>
    </div>
</div>


<!-- from sm up (filler)-->
<div class="baner invisible">
    <img src="/pictures/baner.jpg" class="img-fluid" alt="Osoba w trakcie spawania" style="position: relative;">
    <div class="row nomargin">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="block block-1 mt-5 p-5 d-sm-block">
                <h4 class="display-6">Precyzja w każdym złączu</h4><br>
                <p class="lead">Spawamy dla ciebie w Gorzowie Wielkopolskim!</p>
                <div class="row nomargin text-center mt-5">
                    <div class="col-2 pt-2">
                        <a type="button" class="btn btn-secondary" style="width: max-content;" href="#email">Wyślij emaila!</a>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col-2">
                        Zadzwoń: xxxxxxxxx
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>