
    <footer class="bg-darkblue3 row py-5 nomargin">
      <!-- Cukiernia -->
      <div class="col-md-4 col-sm-6 col-12 mb-3 ps-5 mt-4 mt-sm-2 mt-md-0">
        <a href="/" class="d-flex align-items-center mb-3 link-light text-decoration-none fs-4">
          Alpha Tech

        </a>
        <p class="text-light">©2023</p>
      </div>
      <!-- Empty -->
      <div class="col-md-3 d-none d-md-block mb-3">
      </div>
      <!-- Odkryj -->
      <div class="col-md-2 col-sm-6 col-12 mb-3 ps-5 ps-md-0 mt-4 mt-sm-2 mt-md-0">
        <h5 class="text-light mb-1">Odkryj</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
          <li class="nav-item mb-2"><a href="#o_nas" class="nav-link p-0 text-light">O nas</a></li>
          <li class="nav-item mb-2"><a href="#zdjecia" class="nav-link p-0 text-light">Zdjęcia</a></li>
          <li class="nav-item mb-2"><a href="#email" class="nav-link p-0 text-light">Skontaktuj się</a></li>
          <li class="nav-item mb-2"><a href="#wiecej" class="nav-link p-0 text-light">Więcej</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12 mb-3 mt-4 mt-sm-2 mt-md-0">
        
      </div>
      <!-- Empty -->
      <div class="col-4 d-md-none d-sm-block d-none mb-3">
      </div>


      <p class="text-light mt-3 ps-5">Strona stworzona przez<br>
        Dawida Dziubę
      </p>
    </footer>