<nav class="navbar navbar-dark bg-body-tertiary sticky-top bg-darkblue2" style="user-select: none;">
    <div class="container-fluid d-flex justify-content-start justify-content-md-center"> <!-- Add justify-content-center class here -->
      <a class="navbar-brand text-light text-center" href="/" id="logo">
      <span class="text-light position-absolute star1 animate glow delay-ms-4">&starf;</span>
        <span id="ciasta" class="animate glow delay-ms-7">
          Ciast<span style="letter-spacing: normal;">a</span>
        </span>
        <br>
        <span class="fs-6 animate glow delay-ms-4">
          w gwiazdac<span style="letter-spacing: normal;">h</span>
        </span>
      <span class="text-light position-absolute star2 animate glow delay-ms-9">&starf;</span>
      </a> <!-- Your logo -->
      <button class="navbar-toggler border-light position-absolute end-0 me-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-center" id="offcanvasNavbarLabel">M E N U</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 ps-3">
            <li class="nav-item">
              <a class="nav-link link-dark" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#ulubione">Ulubione naszych klientów</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#torty">Nasze torty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#o_nas">O nas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#przepisy">Przepisy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#sklady_i_alergeny">Składy i alergeny</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#zamowienie"><strong>Złóż zamówienie!</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>




