<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light border-bottom bg-darkblue2" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="/" style="text-transform: uppercase; letter-spacing: 5px;font-family: 'Poppins', sans-serif;
    ">ALPHA TECH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-3">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">O nas</a>
        <a class="nav-link" href="#email">Skontaktuj się</a>
      </div>
    </div>
  </div>
</nav>




