<div id="spinner" class="spinner-bg">

    <div class="spinner spinner-position">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Ładowanie...</span>
        </div>
    </div>
</div>