<!-- home -->
<% layout('layouts/boilerplate')  %>

<%- include('partials/baner') %>


<h3 class="display-5 text-center pt-5" id="email">
    Wyślij do nas emaila!
</h3>

<div class="row nomargin mb-5">
    <div class="col"></div>
    <div class="col-11 col-md-7">
        <form class="mb-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Klient*</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Numer telefonu*</label>
                <input type="tel" class="form-control" id="exampleFormControlInput2" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">Adres e-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Wiadomość*</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlfile" class="form-label">Dodaj pliki</label>
                <input type="file" class="form-control" id="exampleFormControlfile">
            </div>
            <button type="submit" class="btn btn-outline-primary">Wyślij</button>
        </form>
    </div>
    <div class="col"></div>
</div>



<!-- rwd the baner -->
<!-- add gallery -->