<!-- home -->
<% layout('layouts/boilerplate')  %>

<%- include('partials/baner') %>

<!-- o nas -->
<h3 class="display-5 text-center pt-5 pb-2" id="o_nas">
  O nas
</h3>
<div class="row nomargin">
  <div class="col"></div>
  <div class="col-md-6 col-11">
    <p class="lead mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Exercitationem reiciendis, deleniti, 
      esse assumenda dolorem delectus quod vel sit dolorum illum vitae vero libero odit beatae! 
      Placeat nemo aspernatur maiores nobis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Exercitationem reiciendis, deleniti, 
      esse assumenda dolorem delectus quod vel sit dolorum illum vitae vero libero odit beatae! 
      Placeat nemo aspernatur maiores nobis?
    </p>
  </div>
  <div class="col"></div>
</div>

<!-- zdjecia -->

<div class="row nomargin bg-secondary mt-5">
  <div class="col"></div>
  <div class="col-11">
    <h3 class="display-5 text-center pt-5" id="zdjecie">
      Zdjęcia
    </h3>
    <%- include('partials/zdjecia') %>
  </div>
  <div class="col"></div>
</div>

<%- include('partials/mail') %>

<!-- wiecej -->
<div class="bg-secondary">
  <h3 class="display-5 text-center pt-5" id="wiecej">
    Więcej
  </h3>
  <div class="row nomargin text-center">
    <div class="col">
      <h4>Adres:</h4>
      <p>ul. Kostrzyńska 4A,<br>66-460 Gorzów Wlkp.</p>
      <h4>NIP:</h4>
      <p class="pb-5">599-323-77-14</p>
    </div>
    <div class="col">
      <h4>Kontakt:</h4>
      <p>Adres email: kontakt@alphatech.com.pl</p>
      <p>Numer telefonu: 693742891</p>
    </div>
  </div>

</div>




<script>
  var urlParams = new URLSearchParams(window.location.search);
  var fromButton = urlParams.get('wyslano');

  if (fromButton === 'true') {
      window.addEventListener('DOMContentLoaded', function () {
          var myModal = new bootstrap.Modal(document.getElementById('msg-btn'));
          myModal.show();
      });
  } else if (fromButton === 'false'){
    window.addEventListener('DOMContentLoaded', function () {
          var myModal1 = new bootstrap.Modal(document.getElementById('msg-btn1'));
          myModal1.show();  
          var m1 = urlParams.get('klient');
          var m2 = urlParams.get('numer');
          var m3 = urlParams.get('mail');
          var m4 = urlParams.get('msg');
          document.getElementById('m1').value = `${m1}`;
          document.getElementById('m2').value = `${m2}`;
          document.getElementById('m3').value = `${m3}`;
          document.getElementById('m4').value = `${m4}`;
      });
  }





</script>
<!-- rwd the baner -->
<!-- add gallery -->