
  .nomargin {
    --bs-gutter-x: 0rem !important;
  }

  .fs-7{
    font-size: smaller;
  }

  .link-hovereffect:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .link-hovereffect {
    text-decoration: none;
  }

  .pointer {
    cursor: pointer;
  }

  .add-shadow {
    text-shadow: 1px 1px black;
  }

  .cover{
    object-fit: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  