.baner > *{
    max-height: 30em;
    object-fit: cover;
    width: 100%;
}
.block{
    background-color: rgba(0, 0, 0, 0.381);
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 20px; 
}
.block-1{
    height: 350px;
    width: 500px;
}
.in-block > h4{
    font-size: 2rem !important
}
  .carousel-item img {
      object-fit:cover;
      height: 50em;
  }



main {
    min-height: 90vh;
}

.darken{
    background-color: #1620299f;
    position: relative;
}
.spinner-bg{
    height: 102%;
    width: 100%;
    position: absolute;
    z-index: 2000;
    top: -1em;
    background-color: #162029;
    
  }  
  
  
  .spinner-position{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.bg-darkblue{
    background-color: #162029 !important;
}

.bg-darkblue2{
    background-color: #162029a5!important;
}

.bg-darkblue3{
    background-color: #0c1116!important;
}



.navbar-brand{
    margin-right:0!important;
}


.bi-instagram{
    transition: all 4s ease-in-out 1s;
    color: #f09433;

    /* As a gradient */
    color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

}

