 
  .carousel-item img {
      object-fit:cover;
      height: 50em;
  }


#logo {
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #f8f9fa;
    padding: 0.5em 0;
    user-select: none;
}

#big{
    background-image: url(/pictures/1.png);
    height: 70rem;
    background-position: left bottom;
    background-size: cover;
}

main {
    min-height: 90vh;
}

.babka,.cheese,.apple,.carrot,.paczki,.choco{
    background-position: center;
    background-size: cover;
    height: 25em;
  transition: 0.1s;
  text-decoration: none;
}

.babka:hover,.cheese:hover,.apple:hover,.carrot:hover,.paczki:hover,.choco:hover{
  opacity: 0.4;
  text-decoration: none;
  cursor: pointer;
}

.darken{
    background-color: #1620299f;
    position: relative;
}
.spinner-bg{
    height: 102%;
    width: 100%;
    position: absolute;
    z-index: 2000;
    top: -1em;
    background-color: #162029;
    
  }  
  
  
  .spinner-position{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.babka{
    background-image: url('/pictures/babka.jpg');    
}

.cheese{
    background-image: url('/pictures/cheesecake.jpg');
}

.apple{
    background-image: url('/pictures/apple.jpg');
}

.carrot{
    background-image: url('/pictures/carrot.jpg');
}

.paczki{
    background-image: url('/pictures/paczki.jpg');
}

.choco{
    background-image: url('/pictures/chocolate.jpg');
}


.bg-darkblue{
    background-color: #162029 !important;
}

.bg-darkblue2{
    background-color: #162029a5!important;
}

.bg-darkblue3{
    background-color: #0c1116!important;
}


.carousel-inner{
    max-height: 35em;
} 
#logo {
    font-size: smaller;
}

.star1, .star2{
    top: -5%;
    font-size: calc(1.375rem + 1.5vw)!important;
}

.star1{
    left: 3.75%
}

.star2{
    display: none;
}
.pics{
    margin: 0 ;
    max-height: 20em;
    width: 100%;
}
.padding-1{
    padding: 0;
}
@media (min-width: 576px) {
    .carousel-inner{
        max-height: 45em;
    } 
    

 }
 @media (min-width: 768px) {
    .carousel-inner{
        max-height: 30em;
    } 
    #logo {
        font-size:calc(1.3rem + .6vw);
    }
    
    .star1, .star2{
        top: 5%;
        font-size: calc(1.375rem + 1.5vw)!important;
    }
     
    .star1{
        left : 36.9%
    }
    
    .star2{
        display:flex;
        right: 36%;
    }
    .pics{
        margin: 8em 0;
    }
 }
 
 @media (min-width: 992px) {
    .pics{
        max-height: 20em;
        margin: 8em 0;
        width: 100%;
    }
    .padding-1{
        padding: 10em 0;
    }
    .carousel-inner{
        max-height: 35em;
    } 
    .star1, .star2{
        top: 10%;
    }
    .star1{
        left: 38.9%
    }
    
    .star2{
        right: 38%;
    }
 }
 @media (min-width: 1200px) {
    .carousel-inner{
        max-height: 45em;
    } 
    .star1{
        left: 40.4% 
    }
    
    .star2{
        right: 39.5%;
    }
  }

@media (min-width: 1400px) {     
    .carousel-inner{
        max-height: 100vh;
    } 
    .star1{
        left: 40.9%
    }
    
    .star2{
        right: 40%;
    }
}

.navbar-brand{
    margin-right:0!important;
}


.bi-instagram{
    transition: all 4s ease-in-out 1s;
    color: #f09433;

    /* As a gradient */
    color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

}

